body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: black;
    margin: 10px;
}

.box h1 {
    color: aqua;
    font-family: 'CursedTimerULiL-Aznm','Courier New', Courier, monospace;
    margin: auto;
}